<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated Keybinding -->
      <factory
            uri="http://www.gratex.com/oomph/task/keybinding/1.0"
            class="com.gratex.oomph.task.keybinding.provider.KeybindingItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated Keybinding -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="com.gratex.oomph.task.keybinding.provider.KeybindingItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="com.gratex.oomph.task.keybinding.provider.KeybindingItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>

</plugin>
