<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Keybinding -->
      <package
            uri="http://www.gratex.com/oomph/task/keybinding/1.0"
            class="com.gratex.oomph.task.keybinding.KeybindingPackage"
            genModel="model/Keybinding.genmodel"/>
   </extension>

</plugin>
